body {
  min-width: 320px;
  max-width: 750px;
  margin: 0 auto;
  height: 1200px;
  background-color: #f2f4f7;
}
* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: #707070;
}
.wrap {
  background-color: #fff;
  padding-bottom: 1.1467rem;
}
@media screen and (min-width: 750px) {
  html {
    font-size: 37.5px !important;
  }
}
.header {
  height: 2.1333rem;
  border-bottom: 1px solid #eaeaea;
  text-align: center;
  line-height: 2.1333rem;
  font-size: 0.9333rem;
  color: #1c1c1c;
}
.nav {
  display: flex;
  flex-wrap: wrap;
  padding: 1.2rem 0 1.6rem 0;
}
.nav .item {
  display: flex;
  width: 33.33%;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2.0533rem;
}
.nav .item img {
  width: 3.7067rem;
  height: 3.7067rem;
}
.nav .item span {
  margin-top: 1.0667rem;
  font-size: 0.6667rem;
  color: #707070;
}
.go {
  margin: 0 0.2667rem 0 0.48rem;
}
.content {
  padding: 1.0667rem 0.64rem;
  background-color: #fff;
  margin-top: 0.2667rem;
}
.content .con-hd {
  display: flex;
  justify-content: space-between;
  height: 1.0133rem;
  line-height: 1.0133rem;
  margin-bottom: 0.9067rem;
}
.content .con-hd h4 {
  display: inline-block;
  font-size: 0.7467rem;
  color: #333;
}
.content .con-hd h4 .icon {
  display: inline-block;
  width: 0.9867rem;
  height: 0.9867rem;
  vertical-align: middle;
}
.content .con-hd h4 .icon img {
  width: 100%;
  height: 100%;
}
.content .con-hd .more {
  font-size: 0.5867rem;
  color: #999;
}
.get_job_focus {
  position: relative;
}
.get_job_focus .swiper-container {
  width: 14.4rem;
  height: 100%;
}
.get_job_focus .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  transition: 300ms;
  transform: scale(0.8);
  opacity: 0.6;
}
.get_job_focus .swiper-slide a {
  width: 9.0133rem;
  height: 10.0267rem;
}
.get_job_focus .swiper-slide p {
  width: 9.0133rem;
  font-size: 0.6667rem;
  margin-top: 0.64rem;
  color: #333;
}
.get_job_focus .swiper-slide-active,
.get_job_focus .swiper-slide-duplicate-active {
  transform: scale(1);
  z-index: 3;
  opacity: 1;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2.9333rem;
  background-color: pink;
  z-index: 3;
  display: flex;
  padding: 0.533333rem;
  border-top: 1px solid #ccc;
  background-color: #fff;
}
.footer .item {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer .item img {
  width: 1.04rem;
  height: 1.093333rem;
}
.footer .item p {
  font-size: 0.586667rem;
  color: #666666;
  margin-top: 0.2667rem;
}
