body {
    min-width: 320px;
    max-width: 750px;
    margin: 0 auto;
    height: 1200px;
    background-color: #f2f4f7;
}
* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #707070;
}

.wrap{
    background-color: #fff;
    padding-bottom: 1.1467rem;
}

// 约束当屏幕大于 750px 的时候，HTML字体大小就不变化了
@media screen and (min-width: 750px) {
    html {
        font-size: 37.5px !important;
    }
}
.header {
    height: 2.1333rem;
    border-bottom: 1px solid #eaeaea;
    text-align: center;
    line-height: 2.1333rem;
    font-size: .9333rem;
    color: #1c1c1c;
}
.nav {
    display: flex;
    flex-wrap: wrap;
    padding: 1.2rem 0 1.6rem 0;
    .item {
        display: flex;
        width: 33.33%;
        flex-direction: column;
        align-items: center;
        margin-bottom: 2.0533rem;
        img {
            width: 3.7067rem;
            height: 3.7067rem;
        }
        span {
            margin-top: 1.0667rem;
            font-size: .6667rem;
            color: #707070;
        }
    }
}

.go {
    margin: 0 .2667rem 0 .48rem;
}

.content {
    padding: 1.0667rem .64rem;
    background-color: #fff;
    margin-top: .2667rem;
    .con-hd {
        display: flex;
        justify-content: space-between;
        height: 1.0133rem;
        line-height: 1.0133rem;
        margin-bottom: .9067rem;
        h4 {
            display: inline-block;
            font-size: .7467rem;
            color: #333;
            .icon {
                display: inline-block;
                width: .9867rem;
                height: .9867rem;
                vertical-align: middle;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
        .more {
            font-size: .5867rem;
            color: #999;
        }
    }
}
.get_job_focus {
    position: relative;
    .swiper-container {
        width: 14.4rem;
        height: 100%;
      }
      .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
  
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
        transition: 300ms;
        transform: scale(0.8);
        opacity: 0.6;
        a {
            width: 9.0133rem;
            height: 10.0267rem;
        }
        p {
            width: 9.0133rem;
            font-size: .6667rem;
            margin-top: .64rem;
            color: #333;
        }
      }
      .swiper-slide-active,.swiper-slide-duplicate-active{
        transform: scale(1);
        z-index:3;
        opacity: 1;
      }
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2.9333rem;
    background-color: pink;
    z-index: 3;
    display: flex;
    padding: 0.533333rem;
    border-top: 1px solid #ccc;
    background-color: #fff;
    .item {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
            width: 1.04rem;
            height: 1.093333rem;
        }
        p {
            font-size: 0.586667rem;
            color: #666666;
            margin-top: .2667rem;
        }
    }
}
